<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pending Verification</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
    <div class="sidebar">
      <h2>Menu</h2>
      <a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
      <a href="/views/retailer/adddeviceretailer.html"
        ><i class="fas fa-store"></i>Add Retailer</a
      >
      <a href="/views/retailer/retailerpendingverification.html"
        ><i class="fas fa-barcode"></i>Pending Verifications</a
      >

      <a href="/views/retailer/retailersettings.html"
        ><i class="fas fa-user-shield"></i>Settings</a
      >
    </div>

    <div class="main-content">
      <div class="header">
        <h1>Pending Verification IMEI</h1>
        <div>
          <span>Welcome Retailer |</span>
          <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>IMEI</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Amount Sold</th>
            <th>Warranty Period</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>356789101234567</td>
            <td>Galaxy S21</td>
            <td>SN12345678</td>
            <td>KES. 50</td>
            <td>24 Months</td>
            <td>Active</td>
            <td class="actions">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>

          <tr>
            <td>352590101567890</td>
            <td>iPhone 13</td>
            <td>SN87654321</td>
            <td>KES. 120</td>
            <td>12 Months</td>
            <td>Active</td>
            <td class="actions">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>

          <tr>
            <td>359123101345678</td>
            <td>Pixel 6</td>
            <td>SN23456789</td>
            <td>KES. 30</td>
            <td>18 Months</td>
            <td>Active</td>
            <td class="actions">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="footer">© IMEIChecker 2024</div>
  </body>
</html>
