<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/css/dashboard.css" />
    <link rel="stylesheet" href="/public/css/addretailer.css" />
    <title>Admin Settings</title>
  </head>
  <body>
    <div class="sidebar">
      <h2>Menu</h2>
      <a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
      <a href="#"><i class="fas fa-store"></i>Add Retailer</a>
      <a href="#"><i class="fas fa-barcode"></i>Pending Verifications</a>

      <a href="#"><i class="fas fa-user-shield"></i>Settings</a>
    </div>

    <div class="main-content">
      <div class="header">
        <h1>Admin Settings</h1>
        <div>
          <span>Welcome Admin |</span>
          <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>

      <div class="table-head">
        <h1>Users</h1>
        <div class="search">
          <div class="search-input">
            <input type="text" class="form-control" placeholder="Search User" />
          </div>

          <div class="add-btn">
            <button class="btn btn-add-new">
              <i class="fas fa-plus"></i> Add New
            </button>
          </div>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Anytime</td>
            <td>anytime@gmail.com</td>
            <td>superadmin</td>
            <td>active</td>
            <td class="actions">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>

          <tr>
            <td>Anytime</td>
            <td>anytime@gmail.com</td>
            <td>moderator</td>
            <td>inactive</td>
            <td class="actions">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="footer">© IMEIChecker 2024</div>
  </body>
</html>
